{
  "ORANGEHRM_URL": "https://opensource-demo.orangehrmlive.com",
  "ORANGEHRM_USER": "Admin",
  "ORANGEHRM_PASS": "admin123",

  "DEMOQA_URL": "https://demoqa.com",

  "ECOMMERCE_URL": "https://www.saucedemo.com",
  "ECOMMERCE_USER": "standard_user",
  "ECOMMERCE_PASS": "secret_sauce",
  "ECOMMERCE_LOCKED_USER": "locked_out_user"
}
